.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content > div {
    margin: 10px;
    text-align: center;
}

.content > div:hover {
    color: white;
}

@media screen and (max-width: 568px) {
    .content > div  {
        flex-basis: 50%;
    }
  }