.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content > div {
    margin: 10px;
    text-align: center;
}

.content > div:hover {
    color: white;
    font-size: 55px;
    transition: 0.4s;
}


.content >  div {
    font-size: 70px;
    transition: 0.3s;
}

@media screen and (max-width: 568px) {
    .content > div  {
        flex-basis: 50%;
    }
  }